*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;;
}

.button {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 150px;
  padding: 2%;
  margin: auto 5%;
}
