/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;;
}

h1 {
  font-size: 500%;
  margin: 0;
  color: #cc3938;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;  
  width: 150px;
  height: 60px;
}

.modal-header,
.modal-body {
  background-color: lightgrey;
  color: navy;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 400%;
  text-align: center;
  margin: 0;
}

.pokemon-height {
  font-size: 250%;
  text-align: left;
  margin: 0;
}
